@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-fondo: #0f172a;
    --color-texto: #cbd5e1;
    --color-texto-secundario: #f8fafc;
    --color-contenedor: #1e293b;
    --color-sombra: rgba(0,0,0,0.7);
    --color-primario: #38bdf8;
    --color-primario-hover: #0ea5e9;

}


/* BODY */
body {
    font-family: "Saira", sans-serif;
    background-color: var(--color-fondo); 
    padding: 0.75rem;
    color: var(--color-texto);
}

/* CONTENEDOR */
.contenedor {
    max-width: 1200px;
    width: 90%;
    min-height: 90vh;
    color: var(--color-texto-secundario);
    text-align: center;
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 2rem auto;
    background-color: var(--color-contenedor);
    display: grid;
    gap: 2rem;
    box-shadow: 0 15px 25px var(--color-sombra);
}
/* HEADER */
header {
    display: grid;
    justify-items: center;
    gap: 2rem;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
header p{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-texto);
}
.icono-app {
    font-size: 3rem;
}
/* MAIN */

/* BUSQUEDA */
.busqueda {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.busqueda input {
    font-size: 1.25rem;
    flex: 1;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;    
}
.busqueda button {
    font-size: 1.25rem;
    padding: 0.75rem;
    background-color: var(--color-primario);
    color: var(--color-texto-secundario);
    border: none;
    border-radius: 0.5rem;    
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.busqueda button:hover {
    background-color: var(--color-primario-hover);
    transform: scale(1.05);
    box-shadow: 0 15px 25px var(--color-sombra);
}

/* CLIMA */
.clima-principal {
    margin: 1rem auto;
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--color-fondo);
    border-radius: 0.5rem;
}
#iconoClima {
    width: 100px;
    height: auto;
}
#temperatura {
    font-size: 4rem;
    font-weight: 700;
}
#ciudad {
    font-size: 2rem;
    font-weight: 500;
}
#descripcion {
    font-size: 1.3rem;
    font-weight: 400;
}
/* DETALLES */

.detalles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    width: 100%;
    padding: 1.2rem;
}

.card-detalle {
    background-color: var(--color-fondo);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.card-detalle h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-detalle p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-texto);
}

/* PRONOSTICO */
.pronostico {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.2rem;
}

.card-pronostico {
    background-color: var(--color-fondo);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.card-pronostico .max {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-primario);
}

.card-pronostico .min {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-texto);
}

.card-pronostico .dia {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-pronostico img {
    width: 80px;
    height: auto;
}

.card-pronostico .temps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
/* FOOTER */
footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--color-primario-hover)
}
/* RESPONSIVE */

@media (max-width: 600px) {
    .busqueda {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}